In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data = pd.read_csv("heart.csv")

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
data.tail()

,age,sex,cp,trestbps,chol,...,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,...,0.2,1,0,3,0
299,45,1,3,110,264,...,1.2,1,0,3,0
300,68,1,0,144,193,...,3.4,1,2,3,0
301,57,1,0,130,131,...,1.2,1,1,3,0
302,57,0,1,130,236,...,0.0,1,1,2,0

In [7]:
data.shape

(303, 14)

In [8]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [11]:
#data is not Imbalance; 
#1 > Defective heart 
#2 > healthy

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
x = data.drop(columns= 'target', axis=1)
y = data['target']

In [ ]:
x

In [ ]:
y

In [ ]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.20,random_state=2,stratify=y)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
x_train_prediction = model.predict(x_train)

In [ ]:
accuracy_score(x_train_prediction, y_train)

In [ ]:

#training data accuracy
training_data_acc = accuracy_score(x_train_prediction,y_train)
print('Training Data Accuracy:' , training_data_acc)
x_test_prediction = model.predict(x_test)
test_data_acc = accuracy_score(x_test_prediction, y_test)
print ('Test Data Accuracy:', test_data_acc)

In [ ]:
input_dat = (37,1,2,130,250,0,1,187,0,5,82,5,1)
df_array = np.array(input_dat)
reshaped_data = df_array.reshape(1,-1)
print("data ready for prediction")

In [ ]:
model.fit(x_train,y_train)

In [ ]:
feature_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']

In [1]:
import pandas as pd
feature_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
input_df = pd.DataFrame(reshaped_data, columns=feature_names)
prediction = model.predict(input_df)
print("-- prediction result--")
print("raw prediction:", prediction[0])


if (prediction[0] == 0):
    print('the model predicts: the person is likely NOT to have the condition.')
else:
    print('the model predicts: the person IS likely to have the condition.')

NameError: name 'reshaped_data' is not defined